<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-nav">
    <h2>Photagea</h2>
      <a class="nav-item nav-link" routerLink="/" *ngIf="authService.isAuthenticated">Home</a>
      <a class="nav-item nav-link" routerLink="/upload" *ngIf="authService.isAuthenticated">Upload</a>
      <a class="nav-item nav-link" routerLink="/file-manage" *ngIf="authService.isAuthenticated">File Manage</a>
      <a class="nav-item nav-link" routerLink="/account" *ngIf="authService.isAuthenticated">Account Management</a>
      <a class="nav-item nav-link" (click)="logout()" *ngIf="authService.isAuthenticated">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

